// Main colours
$colour-primary: #D663CA;
$colour-secondary: #F1C762;

// Backgrownd colors
$background-colour-white: #FFFFFF;
$background-colour-very-light-gray: #F6F6F6;
$background-colour-light-gray: #DFDFDF;

$background-image-gradient: linear-gradient(to top, $colour-primary, $colour-secondary);

// Text colours
$font-text-colour-black: #000000;
$font-text-colour-gray: #666666;
$font-text-colour-white: #FFFFFF;

// Card animations
$anim-duration: 500ms;
$num-bars: 3;
$anim-delay: ($anim-duration / $num-bars);

// Media Queries
$breakpoints: (
    mobile: 576px,
    tablete: 768px,
    desktop: 992px,
    large-desktop: 1200px,
    x-large-desktop: 1400px
);