.header {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    background-color: $background-colour-white;
    
    &_logo{
        width: 18%;
        height: 100%;
        padding: 20px;
    }
    
    &_slogan {
        width: 50%;
        height: 100%;
        padding: 80px;
    }
}

.fa-solid {
    color: $font-text-colour-gray;
}

