.gallery {
    width: 100%;
    height: auto;
    padding: 25px;

    border-style: none;
    border-radius: 10px;
    background-image: $background-image-gradient;
}

.gallery_title {
    font-family: 'Shrikhand';
    font-size: 32px;
    color: $font-text-colour-white;
}

.gallery_cards {
    width: 100%;
    padding: 25px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.card {
    width: 30%;
    height: 600px;
    padding: 25px;

    border-style: none;
    border-radius: 10px;
    background-color: $background-colour-white;
    @include box-shadow;
    text-decoration: none;
    color: $font-text-colour-black;

    animation: appear ($anim-duration*3) both;

    @for $i from 1 through $num-bars {
        &--#{$i} {
            animation-delay: ($anim-delay * $i);
        }
    }

    &_image {
        width: 100%;
        height: 60%;
        object-fit: cover;
        border-style: none;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &_title {
        width: 100%;
        height: 12%;
        margin-top: 10px;
        padding: 10px;
    
        border-style: none;
        border-radius: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        
        background-color: $colour-secondary;
    
        color: $font-text-colour-white;
    }

    &_content {
        width: 100%;
        height: 28%;

        border-style: none;
        border-radius: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        color: $font-text-colour-gray;

        overflow: scroll;
        scroll-behavior: smooth;
    }
}

@media only screen and (max-width: 992px) {

    .gallery_title {
        margin-bottom: 25px;
    }
    .gallery_cards {
        padding: 0;
        flex-direction: column;
    }

    .card {
        width: 100%;
        margin-bottom: 25px;
    }

    .card_image {
        object-fit: scale-down;
    }
}

@media only screen and (max-width: 768px) {

    .card_image {
        object-fit: cover;
    }
}