.gallery {
    width: 100%; 
    height: auto;    

    border-style: none;
    border-radius: 10px;
    background-image: $background-image-gradient;
}

.gallery_cards {
    width: 100%; 
    padding: 25px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}

.card {
    width: 30%;
    height: 600px;
    padding: 25px;    

    border-style: none;
    border-radius: 10px;
    background-color: $background-colour-white;
    @include box-shadow;
    text-decoration: none;
    color: $font-text-colour-black;

    animation: appear ($anim-duration*3) both;

    @for $i from 1 through $num-bars {
        &--#{$i} {
            animation-delay: ($anim-delay * $i);
        }
    }

    &_image {
        width: 100%;
        height: 60%;
        object-fit: cover;
        border-style: none;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &_content {
        width: 100%;
        height: 40%;
        border-style: none;
        border-radius: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background-color: $background-colour-very-light-gray;

    }
}

.card_title {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}