.tutorial {
    width: 100%;
    height: 130px;
    margin-bottom: 25px;
    padding: 25px;
    border-style: none;
    border-radius: 10px;
    background-color: $background-colour-very-light-gray;

    &_text {
        color: $font-text-colour-gray;
    }
}

@media only screen and (max-width: 992px) {
    .tutorial {
        height: auto;
    }

    .tutorial_text {
        font-size: 18px;
    }
}