.btn {  
    width: auto; 
    padding: 20px; 

    background-image: $background-image-gradient;
    border: none;
    border-radius: 30px;
      
    font-size: 18px;
    color: $font-text-colour-white;        
    cursor: pointer; 
    @include box-shadow;      
}

.btn:hover {
    opacity: 0.9;
    @include dark-box-shadow;
}